<ion-segment>

  <!-- ------------------------- ReplyCombined button ------------------------- -->

  <!-- Complete Item -->
  <ion-segment-button icon-only *ngIf='message.actionButtons.completeItem' (click)='showCompleteItemAlert()'>
    <ion-icon name="checkmark" color='icons'></ion-icon>
  </ion-segment-button>

  <!-- viewLatestConversation -->
  <ion-segment-button icon-only *ngIf='message.actionButtons.viewLatestConversation' (click)="viewLatestConversation('convo001')">
    <ion-icon name="eye" color='icons'></ion-icon>
  </ion-segment-button>
    
  <!-- TWSendDirectMessage -->
  <ion-segment-button icon-only *ngIf='message.actionButtons.TWSendDirectMessage' (click)="replyToPost()">
    <ion-icon name="mail" color='icons'></ion-icon>
  </ion-segment-button>
  
  <!-- FBSendDirectMessage -->
  <ion-segment-button icon-only *ngIf='message.actionButtons.FBSendDirectMessage' (click)="replyToPost()">
    <ion-icon name="mail" color='icons'></ion-icon>
  </ion-segment-button>
  
  <!-- TWReply -->
  <ion-segment-button icon-only *ngIf='message.actionButtons.TWReply' (click)="replyToPost()">
    <ion-icon name="ios-undo" color='icons'></ion-icon>
  </ion-segment-button>
  
  <!-- FBReply -->
  <ion-segment-button icon-only *ngIf='message.actionButtons.FBReply' (click)="replyToPost()">
    <ion-icon name="ios-undo" color='icons'></ion-icon>
  </ion-segment-button>
  
  <!-- YTReply -->
  <ion-segment-button icon-only *ngIf='message.actionButtons.YTReply' (click)="replyToPost()">
    <ion-icon name="ios-undo" color='icons'></ion-icon>
  </ion-segment-button>

  <!-- INReply -->
  <ion-segment-button icon-only *ngIf='message.actionButtons.INReply' (click)="replyToPost()">
    <ion-icon name="ios-undo" color='icons'></ion-icon>
  </ion-segment-button>

  <!-- TWFollowBack -->
  <ion-segment-button icon-only *ngIf='message.actionButtons.TWFollowBack' (click)="followBack()">
    <ion-icon name="person-add" color='icons'></ion-icon>
  </ion-segment-button>

  <!-- INViewPostsAnfComments -->
  <ion-segment-button icon-only *ngIf='message.actionButtons.INViewPostsAndComments' (click)="instagramViewPostAndComments('convoIN001')">
    <ion-icon name="eye" color='icons'></ion-icon>
  </ion-segment-button>

  <!-- FBViewPostsAnfComments -->
  <ion-segment-button icon-only *ngIf='message.actionButtons.FBViewPostsAndComments' (click)="facebookViewPostAndComments('convoFB002')">
    <ion-icon name="eye" color='icons'></ion-icon>
  </ion-segment-button>

  <!-- retweet -->
  <ion-segment-button icon-only *ngIf='message.actionButtons.retweet' (click)="retweet()">
    <ion-icon name="md-repeat" color='icons'></ion-icon>
  </ion-segment-button>

  <!-- TWLike -->
  <ion-segment-button icon-only *ngIf='message.actionButtons.TWLike' (click)="sendLike('twitter')">
    <ion-icon name="heart" color='icons'></ion-icon>
  </ion-segment-button>

  <!-- FBLike -->
  <ion-segment-button icon-only *ngIf='message.actionButtons.FBLike' (click)="sendLike(facebook)">
    <ion-icon name="thumbs-up" color='icons'></ion-icon>
  </ion-segment-button>

  <!-- showInFacebook -->
  <ion-segment-button icon-only *ngIf='message.actionButtons.showInFacebook' (click)="showInFacebook()">
    <ion-icon name="facebook" color='icons'></ion-icon>
  </ion-segment-button>

  <!-- FBShowMore -->
  <ion-segment-button icon-only *ngIf='message.actionButtons.FBShowMore' (click)="facebookShowMore()">
    <ion-icon name="facebook" color='icons'></ion-icon>
  </ion-segment-button>

  <!-- FBViewComments -->
  <ion-segment-button icon-only *ngIf='message.actionButtons.FBViewComments' (click)="facebookViewComments()">
    <ion-icon name="eye" color='icons'></ion-icon>
  </ion-segment-button>

  <!-- YTViewComments -->
  <ion-segment-button icon-only *ngIf='message.actionButtons.YTViewComments' (click)="youtubeViewComments()">
    <ion-icon name="eye" color='icons'></ion-icon>
  </ion-segment-button>

</ion-segment>
