<ion-segment>

  <!-- Complete item button -->
  <ion-segment-button icon-only>
    <complete-item-button no-padding no-margin></complete-item-button>
  </ion-segment-button>

  <!-- View conversation button -->
  <ion-segment-button icon-only>
    <twitter-dm no-padding no-margin></twitter-dm>
  </ion-segment-button>

  <!-- Reply button -->
  <ion-segment-button icon-only>
    <reply-button no-padding no-margin></reply-button>
  </ion-segment-button>

  <!-- Retweet button -->
  <ion-segment-button icon-only>
    <follow-back no-padding no-margin></follow-back>
  </ion-segment-button>

</ion-segment>
