<ion-header>

  <ion-navbar>
    <ion-title>Filters</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding style="width: 100%">

  <!-- ============== Profiles Toggle ============= -->
  <ion-item-divider color="light">
    <!-- <ion-toggle
      item-end
      [(ngModel)]='resetProfiles'
      (click)='selectAllProfiles()'
      [disabled]="resetProfiles"
    >
    </ion-toggle> -->
    
    <p>
      Profiles filter
    </p>
    <button ion-button item-end clear [disabled]="filterData.resetProfiles" (click)="selectAllProfiles()">
      Reset
    </button>

    <!-- <ion-label>Profiles filter</ion-label> -->
    
  </ion-item-divider>

  <!-- Display first 6 profiles -->
  <ion-row *ngFor="let profiles of filterData.profiles | rowPipe:2 | slice:0:1" col-12 no-padding no-margin style="width:100%;">
      <ng-container *ngFor="let profiles of filterData.profiles; let i = index">
        
        <ion-card no-margin *ngIf="i < 6" no-padding style="margin-left: 8px; margin-top: 8px;padding-left: 8px; width: 47%">
          <ion-item no-padding no-margin>
            <ion-label color="dark" stacked>
              {{ profiles.profileName }}
            </ion-label>
            <!-- When clicked, all individual selected profiles will be unchecked -->
            <ion-toggle [(ngModel)]='profiles["selected"]' (click)="selectIndividualProfiles(i)"></ion-toggle>
          </ion-item>
        </ion-card>

        <ion-card *ngIf="i > 5 && showMore" [style.display]="showMore" no-padding style="margin: 8px 0 0 8px ;padding-left: 8px; width: 47%">
          <ion-item no-padding no-margin>
            <ion-label color="dark" stacked>
              {{ profiles.profileName }}
            </ion-label>
            <!-- When clicked, all individual selected profiles will be unchecked -->
            <ion-toggle [(ngModel)]='profiles["selected"]' (click)="selectIndividualProfiles(i)"></ion-toggle>
          </ion-item>
        </ion-card>

      </ng-container>
  </ion-row>

  <!-- Show more profiles button -->
  <div no-padding margin-top>
    <ion-segment>
      <ion-segment-button value="moreProfiles" (click)="showMoreProfiles()">
        <span *ngIf="showMore">Show Less</span>
        <span *ngIf="!showMore">Show More</span>
      </ion-segment-button>
    </ion-segment>
  </div>



  <!-- ============== Types Toggle ============= -->
  <ion-item-divider color="light">
    <!-- <ion-toggle
      item-end
      [(ngModel)]="allTypes"
      (click)='selectAllTypes()'
      [disabled]='allTypes'
    >
    </ion-toggle>
    <ion-label>Types filter</ion-label> -->

    <p>
      Types filter
    </p>
    <button ion-button item-end clear [disabled]="filterData.resetTypes" (click)="selectAllTypes()">
      Reset
    </button>
  </ion-item-divider>

  <!-- Show all types -->
  <ion-row *ngFor="let types of filterData.types | rowPipe:2 | slice:0:1" col-12 no-padding no-margin radio-group margin-bottom>
    <!-- <ion-col *ngFor="let types of filterData.types; let i = index" col-6 no-padding no-margin style="border: 1px solid black"> -->
    <ion-card *ngFor="let types of filterData.types; let i = index" no-margin no-padding style="margin-left: 8px; margin-top: 8px;padding-left: 8px; width: 47%">
      <ion-item no-padding no-margin>
        <ion-label no-padding no-margin stacked>
          <span style = 'font-size: 1em; font-weight: light' no-padding no-margin>
            <ion-icon
              [name]='types.icon'
              [color]='types.platform'
              item-left
              no-padding
              no-margin
              style='margin-right: 0; padding: 0'
            >
            </ion-icon> 
            {{types.type |titlecase}}
          </span>
        </ion-label>

        <!-- When clicked, all individual selected profiles will be unchecked -->
        <ion-toggle no-padding
          [(ngModel)]='types["selected"]'
          (click)="selectIndividualTypes(i)"
        >
        </ion-toggle>
      </ion-item>
    </ion-card>
    <!-- </ion-col> -->
  </ion-row>
















  <!-- ============== Tags Toggle ============= -->
  <ion-item-divider color="light">
    <!-- <ion-toggle
      item-end
      [(ngModel)]="disableRemoveAllTags" 
      (click)='removeAllTagsMethod()'
      [disabled]='disableRemoveAllTags'
    >
  </ion-toggle> -->
    <p>Tags filter</p>
    <button ion-button clear item-end (click)="goToInboxTagsPage()">EDIT</button>
    <button ion-button clear item-end [disabled]="filterData.resetTags" (click)="resetTags()">CLEAR</button>
    <!-- <ion-label>Tags filter</ion-label> -->
  </ion-item-divider>

  <!-- Show all tags -->
  <ion-row *ngFor="let tags of filterData.tags | rowPipe:2 | slice:0:1" col-12 no-padding no-margin radio-group margin-bottom>
    <!-- <ion-col *ngFor="let tags of filterData.tags; let i = index" col-6 no-padding no-margin > -->
    <ion-card *ngFor="let tags of filterData.tags; let i = index" no-margin no-padding style="margin-left: 8px; margin-top: 8px;padding-left: 8px; width: 47%">
      <ion-item no-padding no-margin>
        <ion-label  stacked>
          <!-- {{ tags.name |titlecase}} -->
          {{ tags.name }}
        </ion-label>
        <!-- When clicked, all individual selected tags will be unchecked -->
        <ion-toggle
          [(ngModel)]='tags["selected"]'
          (click)="selectIndividualTags(i)"
        >
        </ion-toggle>
      </ion-item>
    </ion-card>
    <!-- </ion-col> -->
  </ion-row>

</ion-content>


<ion-footer style="padding: 8px 0 8px 0">
  <button ion-button clear no-margin style="width:49%" (click)="filterSaveButton()">Save</button>
  <button ion-button clear no-margin style="width:49%" (click)="filtersCancelButton()">Cancel</button>
</ion-footer>
