<!-- Generated template for the MessageComponent component -->

<!--<composer-summary></composer-summary>-->

<ion-card>
  
  <ion-card-header style="padding: 0px 0px 0px 2px; color: aliceblue" [style.background]='color'>
    <composer-summary 
      style="font-size: 1.4em"
      [senderName] = 'senderName'
      [senderType] = 'senderType'
    >
    </composer-summary>
  </ion-card-header>
  
  <ion-card-content style="padding: 0">
    <composer-detail
      [image] = 'image'
      [senderName] = 'senderName'
      [messageDate] = 'messageDate'
    >
    </composer-detail>
    
    <hr style="margin: 0 16px 5px 16px">
    
    <post-content
      [text] = 'text' 
    >
    </post-content>
    
  </ion-card-content>
  <facebook-message-action-buttons></facebook-message-action-buttons>
</ion-card>